header, nav, main, footer { display: block; }
body { 
	   background-color: #154360;
	   background-image: url("../images/mainpageimage.jpg");
	   background-repeat: no-repeat;
       font-family: Verdana, Arial, sans-serif;
}
/* styles for wrapper */
#wrapper { width: 960px;
           margin: auto;
		   background-color: #3498BD;
		   color: #3498BD;
		   box-shadow: 5px 5px 5px #000000;
}

div{ 
	opacity: 0.9;
}

h1 { background-image: url(../images/logo.jpg);
     background-repeat: no-repeat;
     background-color: #17202A;
	 height: 110px;
	 font-family: Georgia, "Times New Roman", serif;
	 font-size: 3.15em;
     padding-left: 220px;
	 padding-top: 20px;
	 text-shadow: 3px 3px 3px #90745D;
	 margin-bottom: 0;
}

nav { padding-top: 10px;
      float: left;
      width: 200px; 
}
nav ul { list-style-type: none; 
       padding-left: 20px;
	 }
nav li { padding-bottom: 5px;
       font-weight: bold;
}
nav a { text-decoration: none; }
nav a:link { color: #17202A; }
nav a:visited{ color: #FDFEFE; }
nav a:hover { color: #FDFEFE; }


main { background-color: #154360;
          margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
}
main img { float: right;
              padding: 20px;
}

/* styless for the footer */
footer { background-color: #154360;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}
	  
table {
	margin: auto; /* center the table */
	width: 90%; /* set width to 90% of the container */
	border-spacing: 0; /* remove spacing between table cells */
}

th, td {
	padding: 10px; /* add padding to table cells */
}
tr:nth-of-type(odd) {
	background-color: #D2B48E; /* background color for odd rows */
}

